* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

body {
  height: 100%;
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #bd93f9;
  color: #000;
}

a {
  text-decoration: none;
  color: #bd93f9;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #about {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #about svg {
  margin-bottom: 10px;
}

main #about h1 {
  font-size: 3rem;
}

main #social {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-radius: 3px;
  background-color: #fff;
  color: #000;
}

main #social a {
  text-decoration: none;
  color: #000;
}

main #social div {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: background-color 0.2s;
}

main #social div:hover {
  background-color: #d6d6d6;
}

main footer {
  font-size: 0.8rem;
  text-align: center;
  color: #d3d3d3;
}

input#hidden-button {
  cursor: help;
  opacity: 0;
  position: fixed;
  width: 100px;
  height: 30px;
  margin: auto;
  top: 50%;
  left: 60%;
}

input#hidden-button + label > img {
  cursor: grab;
  width: 100%;
  display: none;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input#hidden-button:checked + label > img {
  display: block;
}

span#nokia {
  display: none;
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
}

@media screen and (max-width: 250px) {
  main {
    display: none;
  }

  span#nokia {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 300px) {
  html {
    zoom: 0.9;
  }
}

@media screen and (max-width: 500px) {
  main #social {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 300px) {
  html {
    zoom: 1.2;
  }
}
