* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #bd93f9;
  color: #000;
}

a {
  text-decoration: none;
  color: #bd93f9;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #about {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #about img {
  margin-right: 25px;
  margin-bottom: -22px;
  transform: rotate(-10deg);
  transition: 200ms;
}

main #about img:hover {
  margin-right: 0;
  margin-bottom: 10px;
  transform: rotate(0);
}

main #about h1 {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: lighter;
}

main #about p {
  margin-bottom: 10px;
}

main #social {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  border-radius: 3px;
  background-color: #fff;
  color: #000;
}

main #social a {
  text-decoration: none;
  color: #000;
}

main #social div {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: background-color 200ms;
}

main #social div:hover {
  background-color: #d6d6d6;
}

main small {
  text-align: center;
  color: #d3d3d3;
}

@media (max-width: 500px) {
  main #social {
    grid-template-columns: repeat(3, auto);
  }
}
